*{
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: aqua;
    padding: 25px;
    text-align: center;
    border-style:groove;
    background-image: url(../imagenes/portada.png), url(../imagenes/portada.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: left,right;
}
body{
    background-image:url('../imagenes/imagenFondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main{
    max-width: 1000px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding: 25px;
    border-style:outset;
    border-radius: 7px;
    background-color: aliceblue;
}
article{
    border-style: inset;
    border-radius: 5px;
    padding: 25px;
}
footer{
    margin-top: 150px;
    text-align: center;
    background-color: aqua;
    padding: 5px;
}